body{
    color:white;
    background-color: black;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.area1{
    display: block;
    width:100%;
    height: 100vh;
    background-color:black;
}
.bars{
    position: absolute;
    top:10px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.bars0{
    right:10px;
    opacity:1;
}
.bars1{
    right:0px;
    opacity:0;
}
i.facebook{
    position: absolute;
    bottom:30px;
    right:110px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.fb0{
    /* right:110px; */
    opacity:1;
}
.fb1{
    /* right:80px; */
    opacity:0;
}
i.twitter{
    position: absolute;
    bottom:30px;
    right:59px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.tw0{
    /* right:59px; */
    opacity:1;
}
.tw1{
    /* right:39px; */
    opacity:0;
}
i.instagram{
    position: absolute;
    bottom:30px;
    right:10px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.in0{
    /* right:10px; */
    opacity:1;
}
.in1{
    /* right:0px; */
    opacity:0;
}
img#hg{
    display: flex;
    position:absolute;
    z-index: 10;
    top: 18%;
    width:200px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.hg0{
    right: 20px;
    opacity:1;
}
.hg1{
    right: 14px;
    opacity:0.7;
}
.hg2{
    right: 8px;
    opacity:0.4;
}
.hg3{
    right: 0px;
    opacity:0;
}
img#macbook{
    display: flex;
    position:absolute;
    width:200px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.mc0{
    top: 41%;
    left: 20px;
    opacity:1;
}
.mc1{
    top: 45%;
    left: 35px;
    opacity:0.7;
    transform: scale(1.3);
}
.mc2{
    top: 49%;
    left: 50px;
    opacity:0.4;
    transform: scale(1.6);
}
.mc3{
    top: 53%;
    left: 65px;
    opacity:0.2;
    transform: scale(1.9);
}
.mc4{
    top: 57%;
    left: 75px;
    opacity:0;
    transform: scale(2);
}

/*scroll*/
.scroll {
    display: inline-block;
    padding-top: 70px;
    position: absolute;
    top:65%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
  }
  .scroll::before {
    animation: scroll 3.5s infinite;
    border: solid rgb(225, 225,225);
    border-width: 0 0 3px 3px;
    content: "";
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
  }
  @keyframes scroll {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    80% {
      transform: rotate(-45deg) translate(-30px, 30px);
    }
    0%, 80%, 100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
  .txt{
    display: block;
    font-size: 18px;
    width:fit-content;
    left: 0;
    right: 0;
    margin: auto;
  }
.c_txt{
    display: block;
    font-size: 12px;
    width: fit-content;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.tx0{
    opacity: 1;
}
.tx1{
    opacity: 0;
}
.scroll0{
    opacity: 1;
}
.scroll1{
    opacity: 0;
}
.area2{
display: block;
width:100%;
height: 150vh;
background:linear-gradient(rgb(0, 0, 0), #ff4fe8);
}
.area3{
    display: block;
    width:100%;
    height: 5000px;
    background-color: #ff4fe8;  
}
/* .position_test{
    font-size:30px;
    font-weight: 600;
    position:fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    z-index: 20;
} */
.msCommon{
    font-size:27px;
    font-weight: 600;
    position:fixed;
    top: 40%;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    z-index: 20;
    text-align: center;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
}
.ms0{
    opacity: 0;
}
.ms1{
    opacity: 1;
}

/*イラスト*/
.pop_left{
    position:fixed;
    top: 55%;
    left: 55px;
    width:60px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}
.pop_right{
    position:fixed;
    top: 55%;
    right: 55px;
    width:60px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    transform: scale(-1, 1);
}
.aodai{
    position:fixed;
    top: 21%;
    right: 38px;
    width:60px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
    transition-delay: 0.5s;
}
.me{
    position:fixed;
    top: 63%;
    left: 38px;
    width: 70px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
    transition-delay: 0.8s;
}
.flower{
    position:fixed;
    top: 17%;
    right: 0px;
    width: 135px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    transform: scale(-1, 1);
}
.phone_left{
    position:fixed;
    top: 28%;
    left: 30px;
    width: 90px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
    transition-delay: 0.3s;
}
.phone_right{
    position:fixed;
    top: 65%;
    right: 30px;
    width: 100px;
    -webkit-transition: all 0.5s ease;/*アニメーションの変化*/
    transition: all 0.5s ease;
    transition-delay: 0.3s;
    transform: scale(-1, 1);
}
.fa-circle{
    position:fixed;
    -webkit-transition: all 0.4s ease;/*アニメーションの変化*/
    transition: all 0.4s ease;
    color: pink;
}
.dot1{
    top: 34%;
    left: 106px;
    transition-delay: 0.6s;
}
.dot2{
    top: 39%;
    left: 128px;
    transition-delay: 0.55s;
}
.dot3{
    top: 44%;
    left: 150px;
    transition-delay: 0.5s;
}
.dot4{
    top: 49%;
    left: 172px;
    transition-delay: 0.45s;
}
.dot5{
    top: 54%;
    left: 194px;
    transition-delay: 0.4s;
}
.dot6{
    top: 59%;
    left: 216px;
    transition-delay: 0.35s;
}
.dot7{
    top: 64%;
    left: 238px;
    transition-delay: 0.3s;
}
